@charset "UTF-8";

body {
    margin: 0;
    user-select: none;
    background-color: rgb(75, 75, 75);
}

#hud {
    font-family: "Lucida Console", Monaco, monospace;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 200px;
    padding: 2em 1em 1em 1em;
    color: black;
    cursor: default;
}

#torqueBar {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 200px;
    height: 10px;
    background: rgba(0, 0, 0, 0.5);
}

#torqueBar::before {
    position: absolute;
    right: 0;
    z-index: -1;
    content: '';
    width: 200px;
    height: 10px;
    background: linear-gradient(to right, #00FF00, #FFFF00 49%, #FF0000 50%, #FFFF00 51%, #FF9900);
}
